//Forest Green Dark Theme

$dk-first-main: #52B788;
$dk-first-main-lighter: rgb(116, 198, 157);
$dk-first-main-transparency: rgba(116, 198, 157, 0.2);
$dk-second-main: #1B3A28;
$dk-second-main-lighter: rgb(72, 110, 88);
$dk-third-main: #2D6A4F;
$dk-third-main-lighter: rgb(52, 122, 92);
$dk-third-main-transparency: rgba(52, 122, 92, 0.2);
$dk-first-dark: #0A0F0C;
$dk-second-dark: #131A15;
$dk-third-dark: #1A2320;
$dk-first-text: rgba(#fff,0.96);
$dk-second-text: rgba(#fff,0.67);
$dk-third-text: rgba(#fff, 0.45);

